[Desktop Entry]
Name=Deathray
Comment=Deathray for solar tracker
Exec=bash -c 'cd /home/pi/mohan/deathray && /usr/bin/python3 deathray.py'
Icon=/home/pi/Desktop/demo/space-satellite-dish-icon.png
Encoding=UTF-8
Type=Application
